.row#about-second-row
	.container
		.row.row-about-us
			.span12
				%h4 About Us
				%p Lorem ipsum,dolor sit, amet consecteualr,adscipling!
				= image_tag "about1.png"
				%h5 Meet Idea Mobb Team
		.row.row-second
			.span12
				%h3
					= image_tag "about2.png"
					Lorem Lpsum Dolor Sit
				%hr.hr-row
				%p
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				%h3
					= image_tag "about3.png"
					Cosecteualr Elit Sed Eiusmod
				%hr.hr-row
				%p
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				%h3
					= image_tag "about4.png"
					Adscipling Qui Officia Cupidatat
				%hr.hr-row
				%p
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		.row.row-third
			.span12
				%h2 Featured Success Story
				.row-fluid
					.span6
						= image_tag "content1.png"
					.span6.row-right
						.row-fluid.row-first
							.span3
								= image_tag "content3.png"
							.span9
								%a
									%h5 Lorem Ipsum Dolor
								%p
									%strong Passion:
									Lorem ipsum dolor sit amet
								%p
									%strong Location:
									Lorem, Consecteular
								%p
									%strong Category:
									Adscipling
						.row-fluid.row-second
							.span12
								%h5
									%i.icon-star
									Fully Funded: $0,000
								%hr.hr-row
								%p
									Lorem ipsum dolor  labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud commodo consequat. Duis aute irure dolor in reprehenderit in  pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui  est laborum.
