.row#home-page-first-row
	.container
		.row
			%center{style:"margin-bottom: 30px;"}
				%h3 Lorem lpsum Dolor Sit Amet Consecteular.
			.span4{style: "padding-left: 50px;"}
				= image_tag "home_page1.png"
				%h4{style:"margin-left: 60px;"}
					Lorem lpsum
			.span4{style: "margin-left: 0px;"}
				= image_tag "home_page2.png"
				%h4{style:"margin-left: 30px;"}
					Consecteular Amet
			.span4{style: "margin-left: 0px;"}
				= image_tag "home_page3.png"
				%h4{style:"margin-left: 53px;"}
					Adscipling Sit
.row#home-page-second-row
	.container
		.row
			%center
				%h4 Sed ut perspiciatis unde omnis iste
			%center
				%h3
					Sit voluptatem accusantium doloremque laudan
					%br
					tium, totam rem aperiam.
			%hr.hr-row
			%center
				%p
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
					%br
					ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
					%br
					ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
					%br
					reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
.row#home-page-third-row
	.container
		.row
			.span2.offset10
				= link_to "Most Popular", static_pages_browse_path, class:"btn btn-warning btn-large pull-right"
					

		.row{style: "margin-top: 30px;"}
			.span3.third-row-block
				= image_tag ("home_page4.png")
				%a
					%h5 Lorem lpsum Dolor
				%p{style:"font-style: italic;"}by: Consecteular
				%p
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.row.third-row-block-status
					.progress
						.bar
					.row-fluid
						.span4
							%p 000%
						.span4
							%p $0,000
						.span4
							%p 00
					.row-fluid
						.span4
							%p funded
						.span4
							%p pledged
						.span4
							%p Days to go
			.span3.third-row-block
				= image_tag ("home_page4.png")
				%a
					%h5 Lorem lpsum Dolor
				%p{style:"font-style: italic;"}by: Consecteular
				%p
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.row.third-row-block-status
					.progress
						.bar
					.row-fluid
						.span4
							%p 000%
						.span4
							%p $0,000
						.span4
							%p 00
					.row-fluid
						.span4
							%p funded
						.span4
							%p pledged
						.span4
							%p Days to go
			.span3.third-row-block
				= image_tag ("home_page4.png")
				%a
					%h5 Lorem lpsum Dolor
				%p{style:"font-style: italic;"}by: Consecteular
				%p
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.row.third-row-block-status
					.progress
						.bar
					.row-fluid
						.span4
							%p 000%
						.span4
							%p $0,000
						.span4
							%p 00
					.row-fluid
						.span4
							%p funded
						.span4
							%p pledged
						.span4
							%p Days to go
			.span3.third-row-block
				= image_tag ("home_page4.png")
				%a
					%h5 Lorem lpsum Dolor
				%p{style:"font-style: italic;"}by: Consecteular
				%p
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.row.third-row-block-status
					.progress
						.bar
					.row-fluid
						.span4
							%p 000%
						.span4
							%p $0,000
						.span4
							%p 00
					.row-fluid
						.span4
							%p funded
						.span4
							%p pledged
						.span4
							%p Days to go

