.row#profile-page-second-row{style:"padding-bottom: 10px;"}
  .container
    .row-fluid
      .span2
        .well
      .span10
        %h4 =@user.name
        %h5 =@user.get_location

.row#profile-settings-third-row
  .container
    .row-fluid
      %h4 Profile
      %hr.hr-row
    = form_tag('/static_pages/save_profile_settings')
      .row-fluid{style:"margin-top: 30px;"}
        .span2
          %span Name
        .span4
          = text_field_tag :name, @user.name
      .row-fluid
        .span2
          %span Profile Picture
        .span1
          .well
        .span3
          = file_field_tag :image
          %p{style:"font-size: 90%;"} We Support Jpg, Png, Gif, Eps, Ai.
      .row-fluid
        .span2
          %span Location
        .span4
          = text_field_tag :location, @user.location
      .row-fluid
        .span2
          %span Personal URL
        .span4
          = text_field_tag :url, @user.url
      .row-fluid
        .span2
          %span Tagline
        .span4
          = text_field_tag :tagline, @user.tagline
      .row-fluid
        .span2
          %span Email Address
        .span4
          %input{type:"text"}
      .row-fluid
        .span2
          %span Password
        .span4
          %input{type:"text"}     
      .row-fluid
        .span2
          %button.btn.btn-large.btn-success{style: "width: 100%;"} Update
.row#profile-settings-fourth-row
  .container
    .row-fluid{style:"margin-top: 50px;"}
      %h4 Notifications
      %hr.hr-row
    .row-fluid
      .span2
        %span Newsletter
      .span6
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliq uip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in volu ptate velit esse cillum dolore eu fugiat nulla pariatur.
      .span3.offset1
        %center
          %button.btn.btn-large.btn-success Sign Up
    .row-fluid
      .span2
        %span Delete Account
      .span6
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.
      .span3.offset1
        %center
          %button.btn.btn-large.btn-success Delete My Account

        


          
