.row#profile-page-second-row
  .container
    .row-fluid
      .span2
        .well
          = image_tag(@user.image.url) if @user.image? 
      .span10
        %h4
          = @user.name
        %h5
          = @user.get_location
.row#profile-page-third-row
  .container
    .row-fluid
      .tabbable
        %ul.nav.nav-tabs{:id => "profileTab"}
          %li.active
            = link_to "Profile/Settings", "#tab1", "data-toggle"=>"tab"
          %li
            = link_to "Campaigns", "#tab2", "data-toggle"=>"tab"
          %li
            = link_to "Campaign Donations", "#tab3", "data-toggle"=>"tab"
          %li
            = link_to "Personal Donations", "#tab4", "data-toggle"=>"tab"

        .tab-content
          .tab-pane.active{id: "tab1"}
            
            %ul.thumbnails
              %li.span2.offset1
                %a.thumbnail{:id => 'userCampgn'}
                  .caption
                    %h5 Total Campaigns
                    %p
                      = @user.projects.count
              %li.span2
                %a.thumbnail{:id => 'userPrivate'}
                  .caption
                    %h5 Total Private Campaigns
                    %p
                      = @user.projects.where("private_code <> ''").count
              %li.span2
                %a.thumbnail{:id => 'userDonation'}
                  .caption
                    %h5 Campaign Donations
                    %p
                      = @mysum
              %li.span2
                %a.thumbnail{:id => 'otherDonation'}
                  .caption
                    %h5 Personal Donations
                    %p
                      = @othersum
              %li.span2
                %a.thumbnail
                  .caption
                    %h5 Total Transfers
                    %p
                     
            = link_to "Settings", static_pages_profile_settings_path, class: "btn btn-success btn-large"

          .tab-pane{id: "tab2"}
            %ul.public-campaigns.thumbnails
              = render partial: 'project', collection: @public_campaigns
            %ul.private-campaigns.thumbnails
              = render partial: 'project', collection: @private_campaigns
          .tab-pane{id: "tab3"}
            %table.table
              %thead
                %th
                  Date
                %th
                  Campaign
                %th
                  Amount
                %th
                  Reward
              %tbody
                = render partial: "donation_reward", collection: @user_projects_donations 

            = link_to "Settings", static_pages_profile_settings_path, class: "btn btn-success btn-large"

          .tab-pane{id: "tab4"}
            %table.table
              %thead
                %th
                  Date
                %th
                  Campaign
                %th
                  Amount
                %th
                  Reward
              %tbody
                = render partial: "donation_reward", collection: @person_projects_donations 

            = link_to "Settings", static_pages_profile_settings_path, class: "btn btn-success btn-large"

:javascript
  $("#userCampgn").click(function(){
    $(".private-campaigns").show();
    $(".public-campaigns").show();

    $("#profileTab a[href=#tab2]").tab('show');
  });

  $("#userPrivate").click(function(){
    $(".private-campaigns").show();
    $(".public-campaigns").hide();
    
    $("#profileTab a[href=#tab2]").tab('show');
  });

  $("#userDonation").click(function(){
    $("#profileTab a[href=#tab3]").tab('show');
  });

  $("#otherDonation").click(function(){
    $("#profileTab a[href=#tab4]").tab('show');
  });

  $("#profileTab a[href=#tab2]").click(function(){
    $(".private-campaigns").show();
    $(".public-campaigns").show();
  });
  